<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong>You got an email from <%= @name %>!</strong></p>
	<p></p>
    <p>
		<%= @content %>
    </p>
	<p></p>
    <p>
      From <%= @name %> at <%= @email %>.
    </p>
  </body>
</html>